@media only screen and (max-width: 1500px) {
    .footer .section-content {
        padding: 90px 0px;
    }
}

@media only screen and (max-width: 1400px) {
    .footer .btn-footer {
        margin-right: 5%;
        height: 100px;
    }
}

@media only screen and (max-width: 1300px) {
    .footer .btn-footer {
        margin-right: 10%;
        width: 500px;
        height: 80px;

    }

    .footer .section-content {
        padding: 80px 0px;
    }
}

@media only screen and (max-width: 1200px) {
    .hero-section .hero-vector {
        width: 460px;
    }

    .flavors-section .section-heading .content {
        width: calc(100% - 350px);
    }

    .flavors-card {
        padding: 20px;
    }

    .flavors-card h4 {
        font-size: 28px;
    }

    .flavors-card p {
        font-size: 20px;
    }

    .flavors-section {
        padding-bottom: 60px;
    }

    .items-section .items-card .inner-card .inner-row .content .heading {
        font-size: 18px;
    }

    .items-section .items-card .inner-card .inner-row .content p {
        font-size: 14px;
    }

    .items-section .items-card h2 {
        font-size: 26px;
    }

    .items-section .items-card h2 .text.green {
        font-size: 42px;
    }

    .mala-section .mala-hero-section .mala-card p {
        font-size: 18px;
    }

    .mala-section .mala-bottom-card .heading33 {
        height: 100px;
    }

    .mala-section .mala-bottom-card .box {
        height: 260px;
    }

    .mala-section .mala-bottom-card p {
        max-width: 600px;
    }

    .concept-section .banner-section .img-667 {
        width: 80%;
    }

    .footer .btn-footer {
        width: 450px;
        height: 90px;
        margin-right: 0%;
    }

    .footer .section-content .inner-content {
        padding-right: 0px;
    }

    .footer .section-content {
        padding: 70px 0px;
    }

    .hero-section .hero-content .subheading {
        margin-top: 20px;
        max-width: 500px;
    }
}

@media only screen and (max-width: 1100px) {

    .hero-section .hero-content .off-20,
    .hero-section .hero-content .hero-heading {
        max-width: 500px;
    }

    .hero-section .hero-content .logo {
        height: 100px;
        margin-bottom: 40px;
    }

    .hero-section {
        padding: 80px 0px 240px;
    }

    .hero-section .hero-vector {
        width: 420px;
    }

    .country-heading-section .section-inner .vec2 {
        left: 0;
        width: 200px;
    }

    .country-heading-section .section-inner .vec1 {
        right: 0px;
        width: 130px;
    }
}

@media only screen and (min-width: 991px) {
    .d-show-mobile {
        display: none !important;
    }

    .d-show-md {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .hero-section {
        padding: 40px 0px 200px;
    }

    .hero-section .hero-content .logo {
        height: 80px;
        margin-bottom: 20px;
    }

    .hero-section .hero-content .off-20,
    .hero-section .hero-content .hero-heading {
        max-width: 400px;
    }

    .btn-primary {
        width: 400px;
        padding: 20px;
        height: 60px;
        font-size: 26px;
        border-radius: 12px;
    }

    .hero-section .hero-vector {
        width: 300px;
        right: 20px;
    }

    .flavors-section .section-heading .content {
        width: 100%;
    }

    .flavors-section .section-heading .bowl {
        display: none;
    }

    .flavors-card p {
        max-width: 100%;
    }

    .flavors-card {
        max-width: 500px;
        margin: auto;
    }

    .items-section .items-card .item1,
    .items-section .items-card .item2,
    .items-section .items-card .item3 {
        display: none;
    }

    .country-heading-section .section-inner h3 {
        font-size: 38px;
        line-height: 44px;
    }

    .country-heading-section .section-inner .heading122 {
        max-width: 400px;
    }

    .items-section .items-card {
        max-width: 500px;
        margin: auto;
        margin-bottom: 20px;
        height: auto;
    }

    .country-heading-section .section-inner .vec2 {
        top: 10px;
        width: 140px;
    }

    .country-heading-section .section-inner .vec1 {
        width: 100px;
    }

    .country-heading-section {
        min-height: auto;
    }

    .country-heading-section .section-inner .vec1 {
        bottom: -100px;
    }

    .mala-section .mala-hero-section .mala-card {
        height: auto;
        margin-bottom: 20px;
        min-height: auto;
    }

    .mala-section .mala-bottom-card .box {
        display: none;
    }

    .mala-section .mala-bottom-card p {
        max-width: 100%;
    }

    .d-none-md {
        display: none;
    }

    .footer .section-content .inner-content {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .mala-section .mala-bottom-card .heading33 {
        height: auto;
        width: 100%;
    }

    .footer .section-content {
        padding: 180px 0px;
    }
}

@media screen and (max-width: 800px) {
    .footer .section-content {
        padding: 140px 0px;
    }
}

@media screen and (min-width: 768px) {
    .d-show-sm {
        display: none;
    }
}

@media screen and (max-width: 766px) {
    .d-none-sm {
        display: none;
    }

    .hero-section {
        background-image: url(../images/hero-bg-sm.png);
    }

    .hero-section {
        padding: 60px 0px 230px;
    }

    .hero-section .hero-content .logo {
        width: 100%;
        margin-bottom: 25px;
        height: auto;
    }

    .hero-section .hero-content .hero-heading {
        margin-bottom: 260px;
    }

    .btn-primary {
        width: 100%;
        height: 72px;
    }

    .flavors-card {
        height: auto;
        padding: 40px 20px 20px;
    }

    .flavors-card h4 {
        font-size: 24px;
    }

    .flavors-card p {
        font-size: 18px;
    }

    .flavors-section {
        padding-bottom: 40px;
    }

    .items-section .items-card {
        padding: 40px 20px;
    }

    .items-section .items-card h2 {
        flex-wrap: wrap;
        display: revert;
    }

    .items-section .items-card p {
        margin-bottom: 10px;
    }

    .items-section .items-card .inner-card .inner-row {
        flex-direction: column;
    }

    .items-section .items-card .inner-card .inner-row .content {
        width: 100%;
    }

    .items-section .items-card .inner-card .inner-row .content p {
        font-size: 18px;
    }

    .country-heading-section .section-inner h3 {
        font-size: 30px;
        line-height: 29px;
    }


    .country-heading-section .section-inner .heading122 {
        width: 450px;
    }

    .country-heading-section .section-inner .vec1 {
        bottom: -30px;
    }

    .mala-section {
        padding: 40px 0px;

        .lg-container {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    }

    .country-heading-section .section-inner .vec1 {
        width: 53px;
    }

    .mala-section .mala-hero-section .mala-card .card-heading h3 {
        font-size: 24px;
        margin-bottom: 10px;
        line-height: normal;

        span {
            font-size: 36px;
        }
    }

    .mala-section .mala-hero-section .mala-card .card-heading .qwe1 {
        height: 80px;
    }

    .mala-section .mala-hero-section .mala-inner-card {
        padding: 20px 20px 5px;
    }

    .mala-bottom-card {
        padding: 0px 20px;
    }

    .development-secrets {
        padding: 40px 0px;
    }

    .development-secrets .heading {
        height: 64px;
    }

    .development-secrets .heading span {
        font-size: 36px;
    }

    .development-secrets p {
        font-size: 18px;
    }

    .development-secrets .banner {
        margin-top: 20px;
    }

    .concept-section {
        padding: 40px 0px;
    }

    .concept-section .text {
        width: 90%;
        margin: auto;
    }

    .concept-section .banner-section .img-667 {
        margin-top: 0px;
    }

    .footer .btn-footer {
        max-width: 400px;
        height: 88px;
        padding: 10px;
        font-size: 30px;
    }

    .footer .section-content {
        padding: 120px 0px;
    }


    .bottom {
        padding: 12px 10px 20px;
    }

    .bottom .inner-row .bottom-logo {
        height: 40px;
    }

    .bottom .inner-row .r-colum span {
        font-size: 12px;
    }

    .bottom .inner-row {
        flex-direction: column;

        .r-colum {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    .concept-section .text img {
        margin-bottom: 10px;
    }

    .hero-section {
        background-size: cover;
    }

    .development-secrets p {
        br {
            display: none;
        }
    }

    .flavors-card h4 {
        min-height: auto;
    }
}

@media screen and (max-width: 600px) {
    .footer .section-content {
        padding: 80px 0px;

    }

    .country-heading-section .section-inner h3 {
        font-size: 24px;
    }

    .country-heading-section .section-inner .heading122 {
        width: 360px;
    }
}

@media screen and (max-width: 500px) {

    .country-heading-section .section-inner h3 {
        font-size: 20px;
    }

    .country-heading-section .section-inner .heading122 {
        width: 300px;
    }
}

@media screen and (max-width: 430px) {
    .footer .section-content {
        padding: 30px 0px;
    }

    .country-heading-section .section-inner {
        align-items: flex-start;
    }

    .footer .btn-footer {
        margin-right: 0px;
    }

    .country-heading-section .section-inner h3 {
        font-size: 20px;
    }

    .country-heading-section .section-inner .heading122 {
        width: 280px;
    }

    .hero-section .hero-vector-sm {
        width: 230px;
    }

    .footer .btn-footer {
        width: 100%;
    }

}